# Ignorar arquivos de sistema operacional
.DS_Store
thumbs.db

# Ignorar arquivos de build e dependências
node_modules/
build/
dist/
*.log
*.swp
.env
.venv/

# Ignorar arquivos de dados sensíveis ou gerados
*.sqlite3
*.db
*.env

/upload/

# Ignorar arquivos de IDEs
.idea/
.vscode/
*.iml

# Ignorar arquivos de cache
__pycache__/
*.pyc

# Ignorar arquivos de logs
logs/
*.log


